# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# Firebase secret key
firebase-key.json

# Virtual environment (if you create one later)
venv/
env/
.venv/

# OS files
.DS_Store
Thumbs.db
